/* common style */

body {
    max-width: 90%;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
}

img {
    width: 100%;
}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: rgb(185, 159, 159); */

}

.header-text {
    background-color: rgb(165, 110, 110);
    padding: 1% 0;
    max-height: 400px;
    /* width: 5vw; */
    /* box-shadow: -5px 5px 15px rgb(0, 0, 0); */
    /* border: 2px solid white; */
}

.header-text>h1 {
    font-size: 5vw;
    text-align: center;
    color: rgb(233, 226, 226);
    /* padding: 5%; */
    text-overflow: scroll;
}

.header-image {
    background-color: whitesmoke;
    width: 5vw;
    max-height: 400px;

}

.header-text,
.header-image {
    width: 50%;
}


/* cahirman style */

.cahirman {
    display: flex;
    align-items: center;
    /* background-color: rgb(165, 110, 110); */
    padding: 0 5%;
    margin-top: 5vw;
}

#chairman-name {
    font-size: 5vw;
    margin-bottom: 0;
    color: white;
}

#post {
    padding: 0;
    margin: 0;
    font-size: 2vw;
    font-weight: 400;
    color: rgb(211, 211, 211);
}

.chairman-text {
    background-color: rgb(165, 110, 110);
    padding: 9vw 5vw;
}

.chairman-image {
    background-color: whitesmoke;
}

.chairman-text,
.chairman-image {
    width: 50%;
}

#phone-number {
    color: whitesmoke;
    font-size: 1.5vw;
}


/* media queary */
@media screen and (max-width:576px) {
    header {
        flex-direction: column;
    }

    .header-text,
    .header-image {
        width: 100%;
    }

    .header-text>h1 {
        font-size: 9vw;
    }

    .cahirman {
        flex-direction: column;
    }

    .chairman-text,
    .chairman-image {
        width: 100%;
        text-align: center;
    }

    .chairman-image {
        padding: 0 5vw;
    }
}